* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;
    min-height: 150vh;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    position: relative; /* 추가 */
}
.app h1{
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.note {
    font-size: 14px;
    color: #666;
}

/*.quiz img {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}*/

#image-container img{
    max-width: 100%;
    max-height: 400px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}

#explanation-container img{
    max-width: 100%;
    max-height: 400px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.exit-btn {
    position: absolute; /* 추가 */
    top: 10px; /* 추가 */
    left: 10px; /* 추가 */
    padding: 10px 20px; /* 추가 */
    background-color: white; /* 추가 */
    color: #222; /* 추가 */
    border: 1px solid white;; /* 추가 */
    border-radius: 4px;
    cursor: pointer; /* 추가 */
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#show-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.selectedAnswer{
    background: #222
}

.correct{
    background: #9aeabc
}
.incorrect{
    background: #ff9393
}

.incorrect-question {
    margin-bottom: 20px;
}

.incorrect-header {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.answer-text {
    font-size: 14px; /* 글자 크기 조정 */
}

#explanation-container img{
    max-width: 100%;
    max-height: 400px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}
.explanation-btn {
    width: calc(33% - 10px);
    margin: 5px;
}